.body {
	width: 100%;
	display: flex;
	flex-direction: column;

	align-self: center;
	justify-content: center;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	gap: 10px;
}

.tec-title {
	width: 50%;
	text-align: right;
}

.tec-container {
	width: 50%;
	max-width: 50%;

	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: left;

	gap: 8px;
}
